@font-face {
	font-family: 'SangBleuKing-Web';
	  src: url('fonts/SangBleuKing-Web.eot'); /* IE9 Compat Modes */
	  src: url('fonts/SangBleuKing-Web.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	       url('fonts/SangBleuKing-Web.woff2') format('woff2'), /* Super Modern Browsers */
	       url('fonts/SangBleuKing-Web.woff') format('woff'), /* Pretty Modern Browsers */
	       url('fonts/SangBleuKing-Web.ttf')  format('truetype'), /* Safari, Android, iOS */
	       url('fonts/SangBleuKing-Web.svg#svgFontName') format('svg'); /* Legacy iOS */
	}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
	font-family: "SangBleuKing-Web", "Times New Roman", serif;
	background: transparent;
}

/*Text styles*/

h1, h2, li {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25em;
  text-transform: uppercase;
  color: #000;
  margin: .5em 0;
}

h1 {
  margin-bottom: 60px
}

p {
	font-size: 2em;
	font-weight: 700;
	line-height: 1.25;
  margin-top: 0;
}


/*Links*/

a {
  text-decoration: none;   
  color: #000;
  background: -webkit-linear-gradient(left, #FF1493, #FF1493 100%);
  background: linear-gradient(left, #FF1493, #FF1493 100%);
    background-position: 0 100%;
    background-size: 10px 1px;
    background-repeat: repeat-x;
  }

a:hover {
  text-decoration: none;
  color: #FF1493;
  background: -webkit-linear-gradient(left, #FF1493, #FF1493 100%);
  background: linear-gradient(left, #FF1493, #FF1493 100%);
    background-position: 0 100%;
    background-size: 10px 1px;
    background-repeat: repeat-x;
}

a:active {
  text-decoration: none;
  color: #FF1493;
  background: -webkit-linear-gradient(left, #FF1493, #FF1493 100%);
  background: linear-gradient(left, #FF1493, #FF1493 100%);
    background-position: 0 100%;
    background-size: 10px 1px;
    background-repeat: repeat-x;
}

p a {
  text-decoration: none;   
  color: #000;
  background: -webkit-linear-gradient(left, #FF1493, #FF1493 100%);
  background: linear-gradient(left, #FF1493, #FF1493 100%);
    background-position: 0 88%;
    background-size: 10px 1px;
    background-repeat: repeat-x;
    text-shadow:  -0.12em 0 0 #fff, 0.12em 0 0 #fff, -0.06em 0 0 #fff, 0.06em 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff;
}

p a:hover {
  text-decoration: none;
  color: #FF1493;
  background: -webkit-linear-gradient(left, #FF1493, #FF1493 100%);
  background: linear-gradient(left, #FF1493, #FF1493 100%);
    background-position: 0 88%;
    background-size: 10px 1px;
    background-repeat: repeat-x;
    text-shadow: -0.12em 0 0 #fff, 0.12em 0 0 #fff, -0.06em 0 0 #fff, 0.06em 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff;
}

p a:active {
  text-decoration: none;
  color: #FF1493;
  background: -webkit-linear-gradient(left, #FF1493, #FF1493 100%);
  background: linear-gradient(left, #FF1493, #FF1493 100%);
    background-position: 0 88%;
    background-size: 10px 1px;
    background-repeat: repeat-x;
    text-shadow: 0.04em 0.08em #fff, -0.04em 0px #fff;
}

::selection {
  color: #000;
  background: #FF1493; 
  text-shadow: none;
}


/*Header*/

.header {
  max-width: 760px;
	margin: 40px 40px 120px 40px;
}

.header h1 a{
	text-decoration: none;
	background: none !important;
}

/*Links nav*/

.links-nav ol {
    list-style-type: none;
    padding: 0;
}

.links-nav ul {
  list-style-type: none;
  padding: 0;
}

.links-nav li {
  display: inline;
  padding-right: 20px;  
}

/* Portfolio  */
.portfolio {
  margin-bottom: 40px;
}

.portfolio img {
  margin-top: 40px;
  width: 100%;
}

.portfolio-caption {
  display: flex;
  max-width: 960px;
  margin: 10px 0;
}

.portfolio-caption h2, ol{
  display: block;
  flex-shrink: 0;
  float: left;
  width: 180px;
  margin-right: 20px;
}

.portfolio-caption p {
  display: block;


}


/* Width and responsive stuff */

.main {
	max-width: 1100px;
	margin: 40px;
}

@media screen and (max-width: 780px) {
    .main {
        max-width: 780px;
    }

    .header {
      margin-bottom: 80px;
    }

    p {
       font-size: 1.75em;
    }

@media screen and (max-width: 640px) {
    .main {
        max-width: 640px;
    }

    .header {
      margin-bottom: 80px;
    }

    .portfolio-caption {
      flex-flow: column wrap;
    }

    p {
       font-size: 1.5em;
    } 

    ol, ul {
      margin: 0;
    }

    .portfolio-caption h2, ol {
      width: 100%;
    }
}

@media screen and (max-width: 480px) {
    p {
       font-size: 1.25em;
    }

    h1, h2, li {
      font-size: .8em;
    }

    .portfolio img{
      margin-top: 20px;
    }

    .portfolio-caption {
      flex-flow: column wrap;
    }

    h1 {
      margin-bottom: 30px;
    }

    .header {
    	margin: 20px 10px 60px 10px;

    }
    .main {
    	margin: 10px;
    }

}
