{% extends "./_includes/special-projects.njk" %}

{% block container %}
  <div class="main grid special-projects">	
    
    <div class="post-content">
    <h1>Animali: A slow reading group</h1>

    <p class="small-text header">by <a href="/">sonia turcotte</a></p>
    


    <p>A monthly reading group. Animali is open to anyone, with no prior readings or experience needed to join other than an interest in animals and reading with others.There is no expectation or requirement to attend all sessions.

</p>

        
    </div>
    
  </div>
{% endblock %}
