{% extends "./_includes/special-projects.njk" %}

{% block container %}
  <div class="main grid special-projects">	
    
    <div class="post-content">
      <h1>Animali: A slow reading group</h1>

      <p class="small-text header">by <a href="/">sonia turcotte</a></p>
      
      <p>Animali will be an informal space for collectively reading meaningful texts about animals. We will read out loud together, stopping as desired to discuss the text, with no obligation to read or speak unless you want to.</p>

      <p>It is open to anyone, with no prior reading or experience needed to join other than an interest in animals and reading with others. There is no expectation or requirement to attend all sessions.</p>

      <p>Animali meets on the first Tuesday of every month. The first session is Tuesday June 3, from 6:30-8:00pm. We will be reading ‘Revolution’ by Ron Broglio (Ch 31 from the Edinburgh Companion to Animal Studies)</p>

      <p><a href="mailto:sonia.turcotte@gmail.com">Email me (sonia)</a> to join the reading group. A copy of the text will be provided during the session.</p>
      <div class="small-text end-matter">
        <p>sonia turcotte is a freelance designer and researcher. Their focus is animal-human relations and ecology.</p>
      </div>
        
    </div>
    
  </div>
{% endblock %}
