{% extends "./_includes/base.njk" %}

{% block container %}
  <div class="main grid">	
    
    <div class="post-content">
    <h1 class="small-text post-title">Carbon aware web</h2>
    <p>This website has been designed to minimise the energy consumption and CO2 emissions that result from navigating the internet.</p>

    <p>It is a static site built with Eleventy and hosted on Netlify. The interface uses system typefaces (Arial and Times New Roman) to avoid unnecessary HTTP requests. Images are optimised as webp files and implement lazy loading to decrease bandwidth.</p>

    <h2 class="small-text section-heading">Coming next</h2>

    <p>A website is a constant work in progress and I’m always learning. There are several things I’m still working on:</p> 
    <ul>
      <li>serve responsive images via <a href="https://netlify.app/">Netlify</a></li>
      <li>move all blog post images into site and optimise</li>
      <li>in the future, I may implement dithered images, inspired by <a href="https://solar.lowtechmagazine.com/about/the-solar-website/#how">Low Tech Magazine</a></li>
    </ul>

    <h2 class="small-text section-heading">Resources</h2>
      <p>I am collecting research, guides and examples on <a href="https://www.are.na/sonia-turcotte/carbon-aware-internet">Are.na</a>. If you have any other ideas or examples, please <a href="mailto:sonia.turcotte@gmail.com">share them with me</a>.</p>

    <p class="small-text section-heading">Last updated: 10 April 2025</p>
        
    </div>
    
  </div>
{% endblock %}
