{% extends "./_includes/base.njk" %}

{% block container %}
  <div class="main grid">	
    <div class="intro">
      <p>Freelance designer and researcher, interested in building more equitable, abundant futures.</p>
      
      <p>I love collaborating on projects that don’t fit neatly into disciplinary lines. <a href="mailto:sonia.turcotte@gmail.com">Get in touch</a> if you’d like to work together.</p>
    </div>

  <!-- Links -->
<div class="content">
  <ol> 
    <li>
      <a href="#">work</a><br> 
      <span class="grey">design, ux research and training</span>
    <li>
      <a href="#">play</a><br> 
      <span class="grey"> personal projects and collaborations</span>
    </li>
    </li>
    <li>
      <a href="/digital-garden">digital garden</a><br> 
       <span class="grey">collecting, connecting and writing</span>
    </li>
  </ol>
    
</div>
    
  </div>
{% endblock %}
