{% extends "./_includes/base.njk" %}

{% block container %}
  <div class="main">	
    <div class="intro">
      <p>Freelance designer and researcher, interested in building more equitable, abundant futures.</p>
      
      <p>I love collaborating on projects that don’t fit neatly into disciplinary lines. <a href="mailto:sonia.turcotte@gmail.com">Get in touch</a> if you’d like to work together.</p>
    </div>

  <!-- Links -->
<div>
  <ol> 
    <li>
      <a href="#">work</a><br> 
      design, ux research, training and workshops
    <li>
      <a href="#">play</a><br> 
      personal projects and collaborations
    </li>
    </li>
    <li>
      <a href="/digital-garden">digital garden</a><br> 
      collecting, connecting and writing
    </li>
  </ol>
    
</div>
    
  </div>
{% endblock %}
