{% extends "./_includes/special-projects.njk" %}

{% block container %}
  <div class="main grid special-projects">	
    
    <div class="post-content">
    <h1>The Otherwise Studio Thenga Residency Programme</h1>

    <p class="small-text header">by <a href="/">sonia turcotte</a></p>
    <blockquote>
      <p>“How do we remain radically open amidst the war against us waged by logistical capitalism, a war that demands in the most sociopathic ways, total access to us? This seems to me to be our task – to find ways where we can remain open to each other…”<br>
      <span class="small-text">–– Stefano Harney</span>
      </p>
    </blockquote>


    <p>Artist-in-residence programs and other residency opportunities exist to invite artists, academics, writers, and all manner of creative people for a time and space away from their usual environment and obligations. The Otherwise Studio Thenga Residency programme is an informal meal-based artist residency. It aims to foster new habits of assembly and create networks of others working in radical, experimental and non-commercial spaces.</p>

    <p>It is a space to exist inside the cracks and ruptures of capitalist co-option, to explore undisciplined forms of living, working and relating to each other. It insists on letting go of the possibility of escape, and instead search out ways of living and dying in the ruins. Together, we may share practice of refusal and experimentation, form devious alliances and forge spaces of intervention and interruption. Most of all, we remain radically open to each other.</p> 

    <h2 class="small-text section-heading">Apply</h2>

    <p>The Residency is open to creative individuals that like Indian food and are interested in sharing lunch with me. There is no cost to the resident, and I will attempt to accommodate one residency a month. A typical residency lasts one hour. It can be expanded to include additional hanging out and conversation time if this is mutually agreeable to myself.</p> 

    <p>To apply for a residency, simply <a href="mailto:sonia.turcotte@gmail.com">contact me</a>, tell me about what you do (links to any websites would be great) and let me know the date and time that you would prefer to have a residency.</p>
    
    <p>Where: <a href="https://thengacafe.com/">Thenga Cafe</a>, 120 Cromer St, Kings Cross</p>

    <p class="small-text end-matter">
    The Otherwise Studio Lunch Residency Programme is inspired by and based on the original meal-based artist residency by <a href="https://halfletterpress.com/the-meal-based-artist-residency-program/">Marc Fisher</a>.</p>

        
    </div>
    
  </div>
{% endblock %}
