@font-face {
  font-family: 'questaregular';
  src: url('/fonts/2-Questa_Regular-webfont.woff2') format('woff2'),
       url('/fonts/2-Questa_Regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'questa_sansregular';
  src: url('/fonts/2-Questa_Sans_Regular-webfont.woff2') format('woff2'),
       url('/fonts/2-Questa_Sans_Regular-webfont.woff') format('woff');
}

body {
  margin: 0;
}

body, h1, h2, h3, p, ul, li {
  font-family: 'questaregular', serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.3;
  color: #181818;
  background: #F7F6F6;
  counter-reset: sidenote-counter;
}

h2, p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.header, .intro, .links-nav, .cv, .education, .footer, .postlist, .post-content, .backlink {
  width: 90%;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.portfolio {
  width: 90%;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 150px;
}

.header {
  margin: 50px auto;
  height: 50vh;
  display: grid;
  align-items: center;
  text-decoration: none;
}

a {
  text-decoration: none;   
  color: #181818;
  background: -webkit-linear-gradient(left,#D21258,#D21258 100%);
  background: linear-gradient(left,#D21258,#D21258 100%);
    background-position: 0 90%;
    background-size: 10px 1px;
    background-repeat: repeat-x;
}

h1 a {
  text-decoration: none;
  background: none;
}

.writing-nav a {
  text-decoration: none;
  background: none;
  color: #D21258;
}



.small-text a {
  text-decoration: none;   
  color: #181818;
  background: -webkit-linear-gradient(left,#181818,#181818 100%);
  background: linear-gradient(left,#181818,#181818 100%);
    background-position: 0 90%;
    background-size: 10px 1px;
    background-repeat: repeat-x;
}

a:hover {
  text-decoration: none;
  color: #D21258;
  background: -webkit-linear-gradient(left,#D21258,#D21258 100%);
  background: linear-gradient(left,#D21258,#D21258 100%);
    background-position: 0 90%;
    background-size: 10px 1px;
    background-repeat: repeat-x;
}

a:active {
  text-decoration: none;
  color:#181818;
  background: none;
}

::selection {
  color: #181818;
  background: #ffc5ce; 
  text-shadow: none;
}

.header h1{
  color: #D21258
}

.portfolio-item {
  margin-bottom: 100px;
}

img {
  width: 100%;
}

.description {
  display: grid;
  grid-template-columns: 1fr 40rem 1fr;
  column-gap: 20px;
}

.links-nav ol, ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.links-nav li {
display: inline;
padding-right: 20px;  
}

.cv p{
  margin-bottom: 0;
}

.small-text {
  font-family: 'questa_sansregular', helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: inherit;
  margin-top: 4px;
}

.small-heading {
  text-transform: uppercase;
  margin-bottom: 4px;
}

.footer{ 
  margin-top: 200px;
  margin-bottom: 50px;
  color:  #616a6b;
}

/* writing */ 

.postlist {
  list-style: none;
  display: inline;
}

.postlist p {
  margin-bottom: 0;
}

.postlist-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 20px;
}

.post-title {
  text-transform: uppercase;
}

.post-content h2, h3 {
  font-family: 'questa_sansregular', helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: inherit;
  margin-top: 75px;
}

.post-content blockquote {
  margin: 0 0 50px 0;
  border-left: 1px solid #D21258;
  padding-left: 20px;
}

.post-content blockquote p {
  color: #616a6b;
}

.backlink {
  margin-top: 100px;
}

figure {
  margin: 50px 0;
}

/* sidenotes */

.sidenote,
.marginnote {
    font-family: 'questa_sansregular', helvetica, sans-serif;
    float: right;
    clear: right;
    margin-right: -40%;
    width: 40%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}

.sidenote-number {
    font-family: 'questa_sansregular', helvetica, sans-serif;
    counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
    position: relative;
    vertical-align: baseline;
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.5rem;
    left: -0.2rem;
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    font-size: 1rem;
    top: -0.5rem;
}

input.margin-toggle {
  display: none;
}

label.sidenote-number {
  display: inline-block;
  max-height: 2rem; /* should be less than or equal to paragraph line-height */
}

/* viewport sizing  */

.main {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1024px) {
  .description {
   display: grid;
   grid-template-columns: 1fr 3fr;
  }
}

@media screen and (max-width: 800px) {
  .header, .intro, .links-nav, .cv, .education, .footer, .post-content {
    margin-bottom: 75px;
   }

   .portfolio, .footer {
     margin-top: 100px;
   }

   .description, .postlist-item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
   }

  .postlist li {
    margin-bottom: 50px;
   }

   .description, .postlist-item p {
     margin-top: 0;
   }

   .label.margin-toggle:not(.sidenote-number) {
    display: none;
  }
  
   .sidenote,
   .marginnote {
       display: none;
   }

  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative;
  }
 }

 @media screen and (max-width: 450px) {
  .links-nav li {
    display: block;
    padding-right: 20px;  
    }

  .marginalia {
    position: relative;
    bottom: 0;
    margin: 3% 5% 20% 50%;
    width: 75%;
    }
 }
