{% extends "./_includes/base.njk" %}

{% block container %}
  <div class="main grid">	
    <div class="intro">
      <h1 class="visuallyhidden">play</h1>
      <p>Personal projects, self-initiated work and collaborations. Current and archived.</p>
    </div>

  <!-- Links -->

    <ol class="main wide">
    
        <li class="work-item">
            <span class="date">2025</span>
            <span class="title-play">Otherwise Studio Thenga Residency <br>
                <span class="grey">An informal meal-based artist residency. (Coming soon.)</span>
            </span>
          
        </li>

        <li class="work-item">
            <span class="date">2014 – present</span>
            <span class="title-play"><a href="https://soniaturcotte.tumblr.com/">35mm photography</a> <br> 
            <span class="grey">Analogue photos taken with a beat-up Pentax K1000.</span>
        </li>
    
        <li class="work-item">
            <span class="date">2019 – 2024</span>
            <span class="title-play">Some Gallery Thing <br> 
            <span class="grey">Exhibition finder for latest shows at major galleries in London.</span>
            <img class="play-img" loading="lazy" src="/images/some-gallery-thing.webp" alt="Phone showing exhibitions in a list with the number of days left to see them">
            <span class="small-text">with Toby</span>
        </li>

        <li class="work-item">
            <span class="date">2014 – 2016</span>
            <span class="title-play">Is Magazine <br> 
            <span class="grey">Limited edition independent magazine to showcase of art and visual culture. 6 issues from SS14 to AW16.</span>
            <img class="play-img" loading="lazy" src="/images/is-magazine.webp" alt="Grid layout of several magazine spreads">
        </li>
        
       
        

  </ol>

</div>

{% endblock %}
