{% extends "./_includes/base.njk" %}

{% block container %}
<div class="main grid">	
    <div class="intro">
      <h1 class="visuallyhidden">work</h1>  
      <p>I’m a designer, researcher and facilitator with over 10 years of experience in the public and social change sectors.</p><p>I work in cross-functional teams to deliver products and services that create value for people.</p>
    </div>

  <!-- Portfolio -->
  <div class="content">
    <h2 class="small-text section-heading">selected projects</h2>
  </div>
  
  <div class="wide">
      <details>
        <summary class="work-item">
            <span class="date">2019 – 2025</span>
            <span class="title">Power, privilege and equity</span>
            <span class="org">Public sector organisations</span>
            <span class="category grey">Training</span>
        </summary>
        
        <div class="row-detail">
            <div class="work-img"><img loading="lazy" src="/images/powerandprivilege.webp" alt="Title slide of presentation with cream text against dark green background that says Power, privilege & equity: designing products and services"></div>
            <div class="description">
                <p>Training course exploring power, privilege and equity in public sector products and services.</p>
                
                <span class="small-text work-credit">with <a href="https://www.claragreo.com/">Clara</a></span>
            </div>
             
        </div>
    </details>
     <details>
        <summary class="work-item">
            <span class="date">2024</span>
            <span class="title">Scaling Global Assemblies</span>
            <span class="org">Iswe</span>
            <span class="category grey">Research</span>
        </summary>
        
        <div class="row-detail">
            <div class="work-img"><img loading="lazy" src="/images/iswe-2.webp" alt="Screenshots of a spreadsheet of user research insights, with columns for user need, user groups, theme, source, etc."></div>
            <div class="description">
                <p>Research for a global deliberative democracy platform for climate change (citizenʼs assemblies). <span class="small-text"><a href="https://iswe.org/">Read about the project</a></span></p>
        </div>
    </details>

    <details>
        <summary class="work-item">
            <span class="date">2024</span>
            <span class="title">A Small Book on Mental Health</span>
            <span class="org">Objectively Funny</span>
            <span class="category grey">Print</span>
        </summary>
        
        <div class="row-detail">
             <div class="work-img"><img loading="lazy" src="/images/small-book.webp" alt="3 people holding small A6 yellow books and smiling in the middle of Edinburgh Fringe"></div>
             
             <div class="description">
                <p>Design for 3rd edition of the Small Book for Edinburgh Fringe.</p>
                <span class="small-text work-credit">with <a href="https://www.objectivelyfunny.com/">Martin Willis</a></span>
        </div>
        
       
        
    </details>

     <details>
        <summary class="work-item">
            <span class="date">2023 – 2024</span>
            <span class="title">Pilot Fund</span>
            <span class="org">Sport England</span>
            <span class="category grey">Design, Research</span>
        </summary>
        
        <div class="row-detail">
             <div class="work-img"><img loading="lazy" src="/images/sport-england.webp" alt="Report cover with a young child swinging a racket. The title reads, Sport England 2024 Pilot fund Report."></div>
             
             <div class="description">
                <p>Invite only pilot fund to show what might be possible with digital transformation in funding. <span class="small-text"><a href="/digital-garden/sport-england/">Read about the project</a></span>
                </p>
                
                <span class="small-text work-credit">with <a href="https://www.ff.studio/">FF Studio</a> and <a href="https://holdfastprojects.com/">Rod</a></span>
            </div>
            
        </div>
    </details>

    <details>
        <summary class="work-item">
            <span class="date">2022 – 2023</span>
            <span class="title">Planning for death</span>
            <span class="org">Farewill</span>
            <span class="category grey">Design, Research</span>
        </summary>
        
        <div class="row-detail">
            <div class="work-img"><img loading="lazy" src="/images/farewill-research.webp" alt="4 slides in a grid, the first one says 'Key insights' and the others have illegible text"></div>
            
            <div class="description">
                <p>Research investigating how people feel about and prepare for their own death. Design for a new funeral plans product, helping customers reduce emotional and financial burdens for their loved ones.</p>
                
                <span class="small-text work-credit">with <a href="https://www.linkedin.com/in/emily-barrett351/">Emily</a> and the Funeral Plans team</a></span>
            </div>
             
        </div>
    </details>
    
    <details>
        <summary class="work-item">
            <span class="date">2021</span>
            <span class="title">Agile Comms</span>
            <span class="org">Giles Turnbull</span>
            <span class="category grey">Print</span>
        </summary>
        
       <div class="row-detail">
            <div class="work-img"><img loading="lazy" src="/images/agile-comms.webp" alt="Cover and inside spread of Agile Comms book"></div>
            <div class="description">
                <p>Creative direction and design for Giles’ book on how to communicate clearly and creatively. <span class="small-text"><a href="https://gilest.org/books/ach.html">Buy the book</a></span></p>
                
                <span class="small-text work-credit">with <a href="https://gilest.org/">Giles</a>, edited by <a href="https://www.amymcnichol.co.uk/">Amy</a></span>
            </div>
        </div>
    </details>

    <details>
        <summary class="work-item">
            <span class="date">2021</span>
            <span class="title">Amiel Melburn Archive</span>
            <span class="org">Common Knowledge</span>
            <span class="category grey">Design</span>
        </summary>
        
       <div class="row-detail">
            <div class="work-img"><img loading="lazy" src="/images/am-archive.webp" alt="Screenshot of Archive homepage"></div>
            <div class="description">
                <p>Design refresh and improved search for an online database of socialist and radical writings. <span class="small-text"><a href="https://banmarchive.org.uk/">Explore the archive</a></span></p>
            </div>
        </div>
    </details>
    
    <details>
        <summary class="work-item">
            <span class="date">2021</span>
            <span class="title">Transform your work</span>
            <span class="org">Common Knowledge</span>
            <span class="category grey">Design, Research</span>
        </summary>
        
        <div class="row-detail">
             <div class="work-img"><img loading="lazy" src="/images/transformyourwork.webp" alt="Screenshot of home page against yellow illustrated background"></div>
             <div class="description">
                <p>Content, research and design for a modern day toolkit of worker’s inquiries. Code-free publishing with Notion. <span class="small-text"><a href="https://transformyour.work/">See the toolkit</a></span></p>
                
                <span class="small-text work-credit">with <a href="https://autonomy.work/">Autonomy</a>. Illustrations by <a href="https://www.instagram.com/andrewjbeltran/">Andrew Beltran</a>.</span>

            </div>
            
        </div>
    </details>

    <details>
        <summary class="work-item">
            <span class="date">2021</span>
            <span class="title">After Progress</span>
            <span class="org">Goldsmiths</span>
            <span class="category grey">Design</span>
        </summary>
        
       <div class="row-detail">
            <div class="work-img"><img loading="lazy" src="/images/afterprogress.webp" alt="Screenshot of After Progress homepage"></div>
            <div class="description">
                <p>Design for digital exhibition and storytelling website. Companion to the After Progress monograph. <span class="small-text"><a href="https://www.after-progress.com/">Explore the exhibition</a></span></p>
                
                <span class="small-text work-credit">with <a href="https://gemmacope.land/">Gemma</a> and <a href="https://melnycz.uk/">How</a></span>
            </div>
        </div>
    </details>

    <details>
        <summary class="work-item">
            <span class="date">2019 – 2020</span>
            <span class="title">Digital foundations</span>
            <span class="org">Citizens Advice</span>
            <span class="category grey">Design</span>
        </summary>
        
        <div class="row-detail">
            <div class="work-img"><img loading="lazy" src="/images/citizensadvice.webp" alt="Mockup of design system components"></div>
            <div class="description">
                <p>Redesigning the website, updating digital brand language and leading on a new design system.</p>
                
                <span class="small-text work-credit">with <a href="https://minniessuyuhuang.netlify.app/">Minnie</a>, <a href="https://www.linkedin.com/in/shakira-damji-92991882/">Shakira</a>, <a href="http://chromateka.com/">Kostas</a> and the Public Advice team</span>
            </div>
        </div>
    </details>

    {# <details>
        <summary class="work-item">
            <span class="date">2019</span>
            <span class="title">Good Digital Grantmaking</span>
            <span class="org">The National Lottery Community Fund</span>
            <span class="category grey">Design</span>
        </summary>
        
        <div class="row-detail">
            <div class="work-img"><img loading="lazy" src="/images/grantmaking.webp" alt="Screenshot of document with large title that says 'Good Digital Grantmaking, Learning Resources' and the Community Fund logo"></div>
            <div class="description">
                <p>Design learning materials and resources to build confidence and understanding about about digital, technology and data. <span class="small-text"><a href="https://medium.com/digitalfund/materials-and-content-to-support-better-digital-grantmaking-85b3f1d6cb80">Read about the project</a></span></p>
                
                <span class="small-text work-credit">with <a href="https://www.cassierobinson.work/">Cassie</a> and <a href="https://www.emrosebaz.com/coaching">Emily</a></span>
            </div>
        </div>
    </details> #}

    <details>
        <summary class="work-item">
            <span class="date">2019</span>
            <span class="title">GOVUK Content Publisher</span>
            <span class="org">GDS</span>
            <span class="category grey">Design</span>
        </summary>
        
        <div class="row-detail">
            <div class="work-img"><img loading="lazy" src="/images/content-publisher.webp" alt="Topic tagging page for content publisher"></div>
            <div class="description">
                <p>Consolidating multiple publishing apps into a new, accessible content management system for government departments. <span class="small-text"><a href="https://insidegovuk.blog.gov.uk/2019/04/23/building-and-testing-the-new-content-publisher/">Read about the project</a></p>
                
                <span class="small-text work-credit">with <a href="https://www.linkedin.com/in/benhazell">Ben</a>, <a href="https://uk.linkedin.com/in/jeremyhhy">Jeremy</a>, <a href="https://uk.linkedin.com/in/alex-ju">Alex</a> and the Publisher team</span>
            </div>
        </div>
    </details>

    <details>
        <summary class="work-item">
            <span class="date">2017 – 2018</span>
            <span class="title">GOVUK Pay</span>
            <span class="org">GDS</span>
            <span class="category grey">Design</span>
        </summary>
        
        <div class="row-detail">
            <div class="work-img"><img loading="lazy" src="/images/govuk-pay.webp" alt="Hands holding a old mobile phone with a govuk payment page open"></div>
            <div class="description">
                <p>Design for online payment platform for government services. <span class="small-text"><a href="https://www.payments.service.gov.uk/">Visit GOV.UK Pay</a></p>
                
                <span class="small-text work-credit">with <a href="https://www.loft27design.com/">Stephen</a>, <a href="https://jonheslop.com/">Jon</a> and the Pay team</span>
            </div>
        </div>
    </details>

    <details>
        <summary class="work-item">
            <span class="date">2016</span>
            <span class="title">It’s ok to poster </span>
            <span class="org">GDS</span>
            <span class="category grey">Design</span>
        </summary>
        
        <div class="row-detail">
            <div class="work-img"><img loading="lazy" src="/images/itsokto.webp" alt="Photograph of yellow poster on office wall"></div>
            <div class="description">
                <p>Poster to share workplace culture with newcomers to the Government Digital Service. Exhibited at the <a href="https://superflux.in/index.php/work/how-will-we-work/">Vienna Biennale in 2017.</a></p>
                
                <span class="small-text work-credit">words by <a href="https://gilest.org/">Giles</a> and the comms team</span>
            </div>
        </div>
    </details>
  </div>
    
     
</div>

{% endblock %}
