{% extends "./_includes/base.njk" %}

{% block container %}
  <div class="main grid">	
    <div class="intro">
      <p>10 years experience designing and researching in public sector, charity and social change organisations.</p>
    </div>

  <!-- Links -->
  <div class="content">
    <h2 class="small-text section-heading">selected projects</h2>
  </div>
  
  <div class="work">
    <details>
        <summary class="work-item">
            <span class="date">2019 – 2025</span>
            <span class="title">Power, privilege and equity</span>
            <span class="collaborator">Clara Greo</span>
            <span class="category grey">Training</span>
        </summary>
        
        <div class="description">
            <p>
                Training course exploring power, privilege and equity in public sector products and services. Created and run with <a href="https://www.claragreo.com/">Clara Greo</a>. Read about the course.
            </p>
            <img src="https://d2w9rnfcy7mm78.cloudfront.net/11507862/original_0303caadf69876234d754a38620710c9.jpg?1617884337?bc=0" alt="">
        </div>
    </details>

    <details>
        <summary class="work-item">
            <span class="date">2024</span>
            <span class="title">Scaling global assemblies</span>
            <span class="collaborator">Iswe</span>
            <span class="category grey">Research</span>
        </summary>
        
        <div class="description">
            <p>
                ##
            </p>
            <img src="https://d2w9rnfcy7mm78.cloudfront.net/11507862/original_0303caadf69876234d754a38620710c9.jpg?1617884337?bc=0" alt="">
        </div>
    </details>

    <details>
        <summary class="work-item">
            <span class="date">2023</span>
            <span class="title">Pilot fund</span>
            <span class="collaborator">Sport England</span>
            <span class="category grey">Design, Research</span>
        </summary>
        
        <div class="description">
            <p>
                Training course run with Clara Greo for public sector workers. Read about the course. 
            </p>
            <img src="https://d2w9rnfcy7mm78.cloudfront.net/11507862/original_0303caadf69876234d754a38620710c9.jpg?1617884337?bc=0" alt="">
        </div>
    </details>
    <details>
        <summary class="work-item">
            <span class="date">2022 – 2023</span>
            <span class="title">Planning for death</span>
            <span class="collaborator">Farewill</span>
            <span class="category grey">Design, Research</span>
        </summary>
        
        <div class="description">
            <p>
                Training course run with Clara Greo for public sector workers. Read about the course. 
            </p>
            <img src="https://d2w9rnfcy7mm78.cloudfront.net/11507862/original_0303caadf69876234d754a38620710c9.jpg?1617884337?bc=0" alt="">
        </div>
    </details>
    <details>
        <summary class="work-item">
            <span class="date">2021</span>
            <span class="title">After Progress</span>
            <span class="collaborator">Goldsmiths</span>
            <span class="category grey">Design</span>
        </summary>
        
        <div class="description">
            <p>
                Training course run with Clara Greo for public sector workers. Read about the course. 
            </p>
            <img src="https://d2w9rnfcy7mm78.cloudfront.net/11507862/original_0303caadf69876234d754a38620710c9.jpg?1617884337?bc=0" alt="">
        </div>
    </details>
    <details>
        <summary class="work-item">
            <span class="date">2021</span>
            <span class="title">Transform your work</span>
            <span class="collaborator">Common Knowledge</span>
            <span class="category grey">Design, Research, Content</span>
        </summary>
        
        <div class="description">
            <p>
                Training course run with Clara Greo for public sector workers. Read about the course. 
            </p>
            <img src="https://d2w9rnfcy7mm78.cloudfront.net/11507862/original_0303caadf69876234d754a38620710c9.jpg?1617884337?bc=0" alt="">
        </div>
    </details>
     <details>
        <summary class="work-item">
            <span class="date">2021</span>
            <span class="title">Amiel Melburn Archive</span>
            <span class="collaborator">Common Knowledge</span>
            <span class="category grey">Design</span>
        </summary>
        
        <div class="description">
            <p>
                Training course run with Clara Greo for public sector workers. Read about the course. 
            </p>
            <img src="https://d2w9rnfcy7mm78.cloudfront.net/11507862/original_0303caadf69876234d754a38620710c9.jpg?1617884337?bc=0" alt="">
        </div>
    </details>
    <details>
        <summary class="work-item">
            <span class="date">2021</span>
            <span class="title">Agile Comms</span>
            <span class="collaborator">Giles Turnbull</span>
            <span class="category grey">Print</span>
        </summary>
        
        <div class="description">
            <p>
                Training course run with Clara Greo for public sector workers. Read about the course. 
            </p>
            <img src="https://d2w9rnfcy7mm78.cloudfront.net/11507862/original_0303caadf69876234d754a38620710c9.jpg?1617884337?bc=0" alt="">
        </div>
    </details>
</div>

    
  </div>
{% endblock %}
