{% extends "./_includes/base.njk" %}

{% block container %}
  <div class="main grid">	
    <div class="intro">
      <p>10 years experience designing and researching in public sector, charity and social change organisations.</p>
    </div>

  <!-- Links -->
  <div class="content">
    <h2 class="small-text section-heading">selected projects</h2>
  </div>
  
  <div class="work">
     <details>
        <summary class="work-item">
            <span class="date">2024</span>
            <span class="title">Scaling Global Assemblies</span>
            <span class="org">Iswe</span>
            <span class="category grey">Research</span>
        </summary>
        
        <div class="row-detail">
            <div class="description">
                <p>Responsible for research strategy and delivery for a global deliberative democracy platform for climate change.</p>
        </div>
        
        <div class="work-img"><img src="https://d2w9rnfcy7mm78.cloudfront.net/11507862/original_0303caadf69876234d754a38620710c9.jpg?1617884337?bc=0" alt=""></div>
        
    </details>

    <details>
        <summary class="work-item">
            <span class="date">2024</span>
            <span class="title">A Small Book on Mental Health</span>
            <span class="org">Objectively Funny</span>
            <span class="category grey">Print</span>
        </summary>
        
        <div class="row-detail">
            <div class="description">
                <p>xxx</p>
        </div>
        
        <div class="work-img"><img src="https://d2w9rnfcy7mm78.cloudfront.net/11507862/original_0303caadf69876234d754a38620710c9.jpg?1617884337?bc=0" alt=""></div>
        
    </details>

     <details>
        <summary class="work-item">
            <span class="date">2023</span>
            <span class="title">A future that moves</span>
            <span class="org">Sport England</span>
            <span class="category grey">Design, Research</span>
        </summary>
        
        <div class="row-detail">
            <div class="description">
                <p>Invite only pilot fund to show what might be possible with digital transformation in funding. <a href="/digital-garden/sport-england/">Read about the project</a></p>
                
                <span class="small-text work-credit">with <a href="https://www.ff.studio/">FF Studio</a></span>

        </div>
             <div class="work-img"><img src="https://d2w9rnfcy7mm78.cloudfront.net/11507862/original_0303caadf69876234d754a38620710c9.jpg?1617884337?bc=0" alt=""></div>
        </div>
    </details>

    <details>
        <summary class="work-item">
            <span class="date">2022 – 2023</span>
            <span class="title">Planning for death</span>
            <span class="org">Farewill</span>
            <span class="category grey">Design, Research</span>
        </summary>
        
        <div class="row-detail">
            <div class="description">
                <p>Invite only pilot fund to show what might be possible with digital transformation in funding. <a href="/digital-garden/sport-england/">Read about the project</a></p>
                
                <span class="small-text work-credit">with <a href="https://www.ff.studio/">FF Studio</a></span>

        </div>
             <div class="work-img"><img src="https://d2w9rnfcy7mm78.cloudfront.net/11507862/original_0303caadf69876234d754a38620710c9.jpg?1617884337?bc=0" alt=""></div>
        </div>
    </details>
    
    <details>
        <summary class="work-item">
            <span class="date">2021</span>
            <span class="title">Agile Comms</span>
            <span class="org">Giles Turnbull</span>
            <span class="category grey">Print</span>
        </summary>
        
       <div class="row-detail">
            <div class="description">
                <p>Invite only pilot fund to show what might be possible with digital transformation in funding. <a href="/digital-garden/sport-england/">Read about the project</a></p>
                
                <span class="small-text work-credit">with <a href="https://www.ff.studio/">FF Studio</a></span>

        </div>
             <div class="work-img"><img src="https://d2w9rnfcy7mm78.cloudfront.net/11507862/original_0303caadf69876234d754a38620710c9.jpg?1617884337?bc=0" alt=""></div>
        </div>
    </details>

    <details>
        <summary class="work-item">
            <span class="date">2021</span>
            <span class="title">Amiel Melburn Archive</span>
            <span class="org">Common Knowledge</span>
            <span class="category grey">Design</span>
        </summary>
        
       <div class="row-detail">
            <div class="description">
                <p>Invite only pilot fund to show what might be possible with digital transformation in funding. <a href="/digital-garden/sport-england/">Read about the project</a></p>
                
                <span class="small-text work-credit">with <a href="https://www.ff.studio/">FF Studio</a></span>

        </div>
             <div class="work-img"><img src="https://d2w9rnfcy7mm78.cloudfront.net/11507862/original_0303caadf69876234d754a38620710c9.jpg?1617884337?bc=0" alt=""></div>
        </div>
    </details>
    
<details>
        <summary class="work-item">
            <span class="date">2021</span>
            <span class="title">Transform your work</span>
            <span class="org">Common Knowledge</span>
            <span class="category grey">Design, Research, Content</span>
        </summary>
        
        <div class="row-detail">
            <div class="description">
                <p>Invite only pilot fund to show what might be possible with digital transformation in funding. <a href="/digital-garden/sport-england/">Read about the project</a></p>
                
                <span class="small-text work-credit">with <a href="https://www.ff.studio/">FF Studio</a></span>

        </div>
             <div class="work-img"><img src="https://d2w9rnfcy7mm78.cloudfront.net/11507862/original_0303caadf69876234d754a38620710c9.jpg?1617884337?bc=0" alt=""></div>
        </div>
    </details>

    <details>
        <summary class="work-item">
            <span class="date">2021</span>
            <span class="title">After Progress</span>
            <span class="org">Goldsmiths</span>
            <span class="category grey">Design</span>
        </summary>
        
       <div class="row-detail">
            <div class="description">
                <p>Invite only pilot fund to show what might be possible with digital transformation in funding. <a href="/digital-garden/sport-england/">Read about the project</a></p>
                
                <span class="small-text work-credit">with <a href="https://www.ff.studio/">FF Studio</a></span>

        </div>
             <div class="work-img"><img src="https://d2w9rnfcy7mm78.cloudfront.net/11507862/original_0303caadf69876234d754a38620710c9.jpg?1617884337?bc=0" alt=""></div>
        </div>
    </details>

     <details>
        <summary class="work-item">
            <span class="date">2019 – 2025</span>
            <span class="title">Power, privilege and equity</span>
            <span class="org">Clara Greo</span>
            <span class="category grey">Training</span>
        </summary>
        
        <div class="row-detail">
            <div class="description">
                <p>Invite only pilot fund to show what might be possible with digital transformation in funding. <a href="/digital-garden/sport-england/">Read about the project</a></p>
                
                <span class="small-text work-credit">with <a href="https://www.ff.studio/">FF Studio</a></span>

        </div>
             <div class="work-img"><img src="https://d2w9rnfcy7mm78.cloudfront.net/11507862/original_0303caadf69876234d754a38620710c9.jpg?1617884337?bc=0" alt=""></div>
        </div>
    </details>

    <details>
        <summary class="work-item">
            <span class="date">2019 – 2020</span>
            <span class="title">Digital foundations</span>
            <span class="org">Citizens Advice</span>
            <span class="category grey">Design</span>
        </summary>
        
        <div class="row-detail">
            <div class="description">
                <p>Invite only pilot fund to show what might be possible with digital transformation in funding. <a href="/digital-garden/sport-england/">Read about the project</a></p>
                
                <span class="small-text work-credit">with <a href="https://www.ff.studio/">FF Studio</a></span>

        </div>
             <div class="work-img"><img src="https://d2w9rnfcy7mm78.cloudfront.net/11507862/original_0303caadf69876234d754a38620710c9.jpg?1617884337?bc=0" alt=""></div>
        </div>
    </details>

    <details>
        <summary class="work-item">
            <span class="date">2019</span>
            <span class="title">Good Digital Grantmaking</span>
            <span class="org">The National Lottery Community Fund</span>
            <span class="category grey">Design</span>
        </summary>
        
        <div class="row-detail">
            <div class="description">
                <p>Invite only pilot fund to show what might be possible with digital transformation in funding. <a href="/digital-garden/sport-england/">Read about the project</a></p>
                
                <span class="small-text work-credit">with <a href="https://www.ff.studio/">FF Studio</a></span>

        </div>
             <div class="work-img"><img src="https://d2w9rnfcy7mm78.cloudfront.net/11507862/original_0303caadf69876234d754a38620710c9.jpg?1617884337?bc=0" alt=""></div>
        </div>
    </details>

    <details>
        <summary class="work-item">
            <span class="date">2019</span>
            <span class="title">GOVUK Content Publisher</span>
            <span class="org">GDS</span>
            <span class="category grey">Design</span>
        </summary>
        
        <div class="row-detail">
            <div class="description">
                <p>Invite only pilot fund to show what might be possible with digital transformation in funding. <a href="/digital-garden/sport-england/">Read about the project</a></p>
                
                <span class="small-text work-credit">with <a href="https://www.ff.studio/">FF Studio</a></span>

        </div>
             <div class="work-img"><img src="https://d2w9rnfcy7mm78.cloudfront.net/11507862/original_0303caadf69876234d754a38620710c9.jpg?1617884337?bc=0" alt=""></div>
        </div>
    </details>

    <details>
        <summary class="work-item">
            <span class="date">2017 – 2018</span>
            <span class="title">GOVUK Pay</span>
            <span class="org">GDS</span>
            <span class="category grey">Design</span>
        </summary>
        
        <div class="row-detail">
            <div class="description">
                <p>Invite only pilot fund to show what might be possible with digital transformation in funding. <a href="/digital-garden/sport-england/">Read about the project</a></p>
                
                <span class="small-text work-credit">with <a href="https://www.ff.studio/">FF Studio</a></span>

        </div>
             <div class="work-img"><img src="https://d2w9rnfcy7mm78.cloudfront.net/11507862/original_0303caadf69876234d754a38620710c9.jpg?1617884337?bc=0" alt=""></div>
        </div>
    </details>


    <details>
        <summary class="work-item">
            <span class="date">2016</span>
            <span class="title">It’s ok to </span>
            <span class="org">GDS</span>
            <span class="category grey">Design</span>
        </summary>
        
        <div class="row-detail">
            <div class="description">
                <p>Invite only pilot fund to show what might be possible with digital transformation in funding. <a href="/digital-garden/sport-england/">Read about the project</a></p>
                
                <span class="small-text work-credit">with <a href="https://www.ff.studio/">FF Studio</a></span>

        </div>
             <div class="work-img"><img src="https://d2w9rnfcy7mm78.cloudfront.net/11507862/original_0303caadf69876234d754a38620710c9.jpg?1617884337?bc=0" alt=""></div>
        </div>
    </details>

    
     
</div>

    
  </div>
{% endblock %}
