  <!-- hello 👋 welcome to my website 
    this website is carbon aware. if you have any feedback or ideas of how it can be lighter, more accessible or better, email me @ sonia.turcotte@gmail.com -->

<!DOCTYPE html>
<html lang="en">

<head>
	<title>{% if title %}{{ title }} - sonia turcotte{% else %} sonia turcotte {% endif %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/main.css" type="text/css" charset="utf-8" />

    <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
</head>

<body>
  <div class="container">
    <nav class="header grid">
        <h1>
          <a href="/">sonia turcotte</a>
        </h1>
        
        <div id="navigation"> 
          <ul>
            <li><a href="/work">work</a></li>
            <li><a href="#">play</a></li>
            <li><a href="/digital-garden">digital garden</a></li>
        </ul>
        </div>
    </nav>


    {% block container %}
      {{ content | safe }}
    {% endblock %}

	  <div class="footer grid small-text">
		  <div class="credit">
        <p>Designed and hand-coded to reduce climate impact. This site doesn’t collect any data or analytics.</p>
      </div> 
      
      <ul class="social-links">
        <li><a href="https://www.are.na/sonia-turcotte/index">are.na</a></li>
        <li><a href="https://github.com/soniaturcotte">github</a></li>
        <li><a href="https://bsky.app/profile/soniaturcotte.bsky.social">blusky</a></li>
        <li><a href="https://www.linkedin.com/in/sonia-turcotte">linkedin</a></li>
      </ul>	
    </div>
  </div>
</body>

</html>
