  
  <!-- 
  hello 👋 welcome to my website 
  
  this website is carbon aware. if you have any feedback or ideas of how it can be lighter, more accessible or better, email me @ sonia.turcotte@gmail.com 
  
  stay safe comrades 
  -->

<!DOCTYPE html>
<html lang="en">

<head>
	<title>{% if title %}{{ title }} - sonia turcotte{% else %} sonia turcotte {% endif %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Freelance designer and researcher">
    <link rel="stylesheet" href="/main.css" type="text/css" charset="utf-8" />

    <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
</head>

<body>
  <div class="container">
    <nav class="header grid">
        <h1>
          <a href="/">sonia turcotte</a>
        </h1>
        
        <div id="navigation"> 
          <ul>
            <li><a class="{% if '/work' in page.url %}active-nav{% endif %}" href="/work">work</a></li>
            <li><a class="{% if '/play' in page.url %}active-nav{% endif %}" href="/play">play</a></li>
            <li><a class="{% if '/digital-garden' in page.url %}active-nav{% endif %}" href="/digital-garden">digital garden</a></li>
        </ul>
        </div>
    </nav>


    {% block container %}
      {{ content | safe }}
    {% endblock %}

	  <div class="footer grid small-text"> 
      <ul class="social-links">
        <li><a href="https://bsky.app/profile/soniaturcotte.bsky.social">bluesky</a></li>
        <li><a href="https://www.linkedin.com/in/sonia-turcotte">linkedin</a></li>
      </ul>	

      <div class="credit">
        <p>Designed and hand-coded to <a href="/carbon-aware-web">reduce climate impact</a>. This site doesn’t collect any data or analytics.</p>
      </div>
    </div>
  </div>
</body>

</html>
