{% extends "./base.njk" %}

{% block container %}

<main>
  <div class="post-content">
    <h1 class="small-text">
      {{date | readableDate("dd LLL yyyy")}} – <span class="post-title">{{title}}</span>
    </h1>
    {{ content | safe }}
  </div> 
  <p class="small-text backlink">< <a href="/writing">Back to writing</a></p>

</main>

{% endblock %}
