{% extends "./base.njk" %}

{% block container %}


<main>
  <div class="">
    <h1 class="">
      {{date | readableDate("dd LLL yyyy")}} – <span class="post-title">{{title}}</span>
    </h1>
    {{ content | safe }}
  </div> 

</main>

{% endblock %}
