{% extends "./base.njk" %}

{% block container %}


<main>
  <div class="main grid">
    <h1 class="intro small-text post-title">
      {{date | readableDate("dd LLL yyyy")}} – <span class="post-title">{{title}}</span>
    </h1>
    <div class="post-content">{{ content | safe }}
      <p class="small-text backlink"><a href="/digital-garden">‹ back to all posts</a></p>
    </div>
    
  </div> 
</main>

{% endblock %}
